*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: red;
  color: white;
  /* set font size from 16px default down to 10px as 10/16 =.625 */
  font-size: 62.5%; 
  font-family:Arial, Helvetica, sans-serif;
}

